<%- include('partials/header') %>

<div class="k">
  <div class="container">
<div class="top_header">

<img src="image\logo.jpg" alt="comapnylogo"  class = "image_inside">
<div>
<h2>Hello <%=user_names.name%></h2>

    <a class="btn btn-light btn-lg" href="/login" role="button">Log Out</a>

</div>
  </div>

    <hr>

<div class="center_element">
<div>
<ul>
List Of Your favorite teacher is-:
<% user_names.favorite_list.forEach(function(element){ %>
  <% teacher.forEach(function(item){ %>

<%if(item.uniqueid===element)
{%>
    <li><%=item.name%></li>

<%}})%>
<%})%>

    </ul>

<%if(user_names.favorite_list.length!=count){%>
    <a class="btn btn-dark btn-lg" href="/addteacher" role="button">Add Your Favrite Teacher</a>
<%}%>
<%if(user_names.favorite_list.length!=0){%>
    <a class="btn btn-dark btn-lg" href="/removeteacher" role="button">Remove A Teacher</a>
<%}%>
</div>

<div>
  <% teacher.forEach(function(item){ %>

    <%if(item.favorite===max_fav._id)
    {%>
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%=item.name %></h5>
    <p class="card-text">Most Favorite Teacher</p>
    <p class="card-text">Subject:<%=item.subject %></p>
  </div>
  </div>
  <%}%>
  <%})%>
</div>

</div>
  </div>
</div>

<%- include('partials/footer') %>
